svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.circle {
  -webkit-animation: dash 1.5s ease-in-out;
  animation: dash 1.5s ease-in-out;
}
.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 1.5s 0.7s ease-in-out forwards;
  animation: dash 1.5s 0.7s ease-in-out forwards;
}
.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 1.5s 0.7s ease-in-out forwards;
  animation: dash-check 1.5s 0.7s ease-in-out forwards;
}

p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
}
.success {
  color: #73af55;
}
.error {
  color: #d06079;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
.website-divider {
  border-top: 8px solid;
  animation: rainbow-text 2.5s linear;
  animation-iteration-count: infinite;
}

.aramarkio {
  animation: rainbow-text 2.5s linear;
  animation-iteration-count: infinite;
}

.aramarkio:hover {
  animation: grow 5s linear;
  animation-iteration-count: infinite;
}

@keyframes grow {
  100%,
  0% {
    color: rgb(0, 255, 255);
    font-size: 1.5rem;
  }
  8% {
    color: rgb(0, 127, 255);
  }
  16% {
    color: rgb(0, 0, 255);
  }
  25% {
    color: rgb(127, 0, 255);
    font-size: 1.75rem;
  }
  33% {
    color: rgb(255, 0, 255);
  }
  41% {
    color: rgb(255, 0, 127);
    font-size: 2rem;
  }
  50% {
    color: rgb(255, 0, 0);
  }
  58% {
    color: rgb(255, 127, 0);
  }
  66% {
    color: rgb(255, 255, 0);
  }
  75% {
    color: rgb(127, 255, 0);
    font-size: 1.75rem;
  }
  83% {
    color: rgb(0, 255, 0);
  }
  91% {
    color: rgb(0, 255, 127);
    font-size: 1.5rem;
  }
}

@keyframes rainbow-text {
  100%,
  0% {
    color: rgb(0, 255, 255);
  }
  8% {
    color: rgb(0, 127, 255);
  }
  16% {
    color: rgb(0, 0, 255);
  }
  25% {
    color: rgb(127, 0, 255);
  }
  33% {
    color: rgb(255, 0, 255);
  }
  41% {
    color: rgb(255, 0, 127);
  }
  50% {
    color: rgb(255, 0, 0);
  }
  58% {
    color: rgb(255, 127, 0);
  }
  66% {
    color: rgb(255, 255, 0);
  }
  75% {
    color: rgb(127, 255, 0);
  }
  83% {
    color: rgb(0, 255, 0);
  }
  91% {
    color: rgb(0, 255, 127);
  }
}
